section.intro.center.u-full-width
  .table-cell
    h1.headline.slide
      span I'm a
      span.word-wrap
        b.is-visible &nbsp;Programmer
        b &nbsp;Designer
        b &nbsp;Instructor
    h5 I'm samuelson. Please tour
  .mouse
    .scroll
