// Main Header
.u-full-width
  header.main-header
    .logo
      a(href="#0", title="title")
        img(src="./src/img/logo.svg", alt="Samuelson" width='150')
    a.trigger(href="#0")
      span.menu-icon

  // Main Navigation
  nav(role="Navigation")
    ul.main-nav

      li: a(href="#") Biography
      li: a(href="#") Help
      li: a(href="#") Blog
      li: a(href="#") Lecture Slides
      li: a(href="#") Selected Work
      li: a(href="#") Contact Me
      
      li.social: a(href="#")
        i.ion-social-github
      li.social: a(href="#")
        i.ion-social-codepen
      li.social: a(href="#")
        i.ion-social-twitter
      li.social: a(href="#")
        i.ion-social-youtube