// Preloader & Device View notification 

//#preloader
  .pre-container
    .spinner
    .bounce-one
    .bounce-two

.notification
  a.noticication--logo: img(src="./src/img/logo_inverse.svg", alt="Samuelson", width='150')
  p.notification--message Welcome to Samuelson. Please be adviced that this site has so much to offer that I must request you orient your device to portrait or find a larger screen. Sorry for the inconvinience.